body{font-family: 'Figtree', sans-serif;}
#signup-app h2{font-weight: 600;color: #17151C;font-family: 'Figtree', sans-serif;}
.label-text-alt{font-weight: 500; color: #525158;}
.md-font{font-weight: 500;}
.text-primary-color{color: #17151C;}
#signup-app .card {
    border: 1px solid #EDECF0;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #B8B7BB1A;
    padding: 16px;
}

#signup-app .form-control .input{border: 1px solid #B8B7BB;padding: 10px 12px;border-radius: 6px;}
#signup-app .form-control .input:focus{outline: 2px solid #3BA5FF !important;}
.info-div {
    display: flex;
    align-items: center;
}
.info-div .size-5 {
    color: #3BA5FF;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.btn-primary-color{background-color: #3BA5FF;}