body{font-family: 'Figtree', sans-serif;}
#signup-app h2{font-weight: 600;color: #17151C;font-family: 'Figtree', sans-serif;}
.label-text-alt{font-weight: 500; color: #525158;}
.md-font{font-weight: 500;}
.text-primary-color{color: #17151C;}
.text-secondary-color{color: #525158;}
.text-link-color{color: #3BA5FF;}
.border-base-color-updated{border-color: #EDECF0;}
.border-active{border-color: #3BA5FF;}
.circle-border{border: 1px solid #B8B7BB;border-radius: 50%;}
.border-bg-line{background: #DDDDE0;}
.completed-step-bg{background: #00A63E;}
.full-radius{border-radius: 50%;}
.bg-none {background: none;}
.shadow-none{box-shadow: none !important;}
#signup-app .card {
    border: 1px solid #EDECF0;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #B8B7BB1A;
    padding: 16px;
}

.form-control .input{border: 1px solid #B8B7BB;padding: 10px 12px;border-radius: 6px;}
/* .form-control .input:focus{outline: 2px solid #3BA5FF !important;} */
.info-div {
    display: flex;
    align-items: center;
}
.info-div .size-5 {
    color: #3BA5FF;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.btn-primary-color{background-color: #3BA5FF;}
.input:focus, .input:focus-within {
outline: 1px solid #3BA5FF !important;
outline-offset: 0px;
}
#forgotPasswordForm .input:focus{    outline-offset: 0px;}
.terms-text{font-weight: 500;color: #525158;}
.terms-text a{color: #3BA5FF;}
.btn-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-primary-content) !important;
}
.icon-\[tabler--checkbox\] {
    background: url(../img/logo-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    mask-image: none;
}
.btn-bg-none{background: none !important;border: 1px solid #B8B7BB; box-shadow: none;}
.danger-btn{color: #EE3800;}
.menu li a.active {
    color: #3BA5FF;
}
.nav-btn{
    background: none !important;
    box-shadow: none !important;
    border: 0 !important;
    color: #525158 !important;
}
.sr-only-update {
    position: absolute;
    z-index: 2;
    top: 23px;
    left: 20px;
}
.badge-list-tag {
    background: #EDECF0;
    padding: 4px 8px;
    color: #525158;
    height: auto;
    border-radius: 6px;
    width: auto;
    border: 0 none;
    font-weight: 500;
}
.completed-step {
    background: #00A63E;
    color: #FFFFFF;
}
.btn-primary[value="create_and_add_more"] {
    background: none !important;
    color: #3ca4fc !important;
}
.tablist-layout {
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 100%;
    padding: 0 15px;
}
.tablist-layout .bg-primary {
    background: #F8F8FB;
    border: 1px solid #b8b7bb;
    border-bottom: 0;
    box-shadow: none;
    color: #3BA5FF;
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    font-weight: 600;
}
.tab-badge {
    background: #3BA5FF1A;
    border-radius: 50%;
    font-size: 12px;
    color: #3BA5FF;
    border: 0;
}
.tablist-layout .bg-primary span.tab-badge {
    background: #3BA5FF;
    color: #fff;
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* space between the blocks */
}
.stats-container .stat {
    border: 1px solid #EDECF0;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #B8B7BB1A;
}